<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg+xml" href="../img/favicon.svg">
    <link rel="icon" type="image/png" href="../img/favicon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

    <script src="https://kit.fontawesome.com/2f7cb23e8e.js" crossorigin="anonymous"></script>

    <title>Home | HeroeStore</title>
</head>
<body>
    <header>
        <p>20% de descuento en todos los productos</p>
        <h1><i class="fas fa-store"></i> HeroeStore</h1>
    </header>
    <main>
        <div class="cardGroup">
            <article class="card">
                <img src="../img/batman-cover.png" alt="batman-cover">
                <img class="like" src="../img/like.svg" alt="like">
                <img class="avatar" src="../img/batman-avatar.png" alt="batman-avatar">
                <h3>Batman</h3>
                <p>Bruce Wayne es el único personaje que se identifica como Batman y aparece en Batman, Detective Comics, Batman y Robin, y Batman: The Dark Knight. Dick Grayson vuelve al manto de Nightwing
                </p>
                <button>Ver más</button>
            </article>
            <article class="card">
                <img src="../img/harley-cover.png" alt="harley-cover">
                <img class="like" src="../img/like.svg" alt="like">
                <img class="avatar" src="../img/harley-avatar.png" alt="harley-avatar">
                <h3>Harley Queen</h3>
                <p>La creación de Harley Queen fue una idea de último minuto propuesta por el escritor estadounidense Paul Dini para modificar una escena del vigésimo-segundo episodio de Batman: la serie animada
                </p>
                <button>Ver más</button>
            </article>
            <article class="card">
                <img src="../img/batman-cover.png" alt="batman-cover">
                <img class="like" src="../img/like.svg" alt="like">
                <img class="avatar" src="../img/batman-avatar.png" alt="batman-avatar">
                <h3>Batman</h3>
                <p>Bruce Wayne es el único personaje que se identifica como Batman y aparece en Batman, Detective Comics, Batman y Robin, y Batman: The Dark Knight. Dick Grayson vuelve al manto de Nightwing
                </p>
                <button>Ver más</button>
            </article>
        </div>
    </main>
    <footer>
        <p>Todos los derechos reservados a FRONTEND I</p>
    </footer>
</body>
</html>